* {
    margin: 0px;
  }

.container {
    margin: auto;
    width: 860px;
    height: 8900px;
  }


.theme--mercado .jobs-home-soho--mercado-theme {
    background-color: var(--color-background-brand-accent-4);
}

.jobs-home-soho--mercado-theme {
    border-radius: inherit;
}

.jobs-home-soho__search-box-container--banner {
    padding-top: 16px;
}

.jobs-home-soho__search-box-container {
    padding: 24px 0;
    z-index: 3;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.large-header, .large-text, .medium-text, .small-text, blockquote, body, h1, h2, h3, h4, h5, p {
    color: var(--color-text);
}
html.artdeco {
    -webkit-font-smoothing: antialiased;
}

.boton{

    padding-top: 10px;
}

.fa{
padding: 0px;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    }