*{
    margin: 0px;
}
div#container{
        margin: auto;
       height: 850px;
       border-radius: 1em;
    }

.boton{

    padding: 0px;
}

.texto hr{
    background-color: #186985;
}

.step-number {
    position: absolute;
    opacity: 1;
    color:#050505 ;
    left: -20px;
    font-size: 40px;
    line-height: 10px;
    
}
.step-number h3,p{

    margin-right: 10ex;
}

.texto{

    margin: auto;
}

.referencia{
    left: 50%;
    position: absolute;
    margin-left: -30ex;
}