*{
    margin: 0px;
    padding: 8px;
}
div#container{
        margin: auto;
        margin-top: 20px;
       width: 960px;
       height: 900px;
       background-color: rgb(123, 162, 235); 
       border-radius: 1em;
    }

    
.boton{

    padding: 0px;
}